/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Global */

#section-header {
	background: url(/sites/all/themes/casa_luis/images/top.png) top center repeat-x #560000;
}
#breadcrumb {display: none }
#region-content {
	margin-left: 51px;
	margin-right: 30px;
}
/* header */

.site-name {
	background: url("/sites/all/themes/casa_luis/images/logo.png") no-repeat scroll left top transparent;
    height: 105px;
    position: relative;
    text-indent: -1000px;
    top: -40px;
    width: 400px;
    float: left;
}
.site-slogan { 
	display: none;
	float: left;
	position: relative;
	top: 47px;
	left: -55px;
	color: #fff;
	font-family: Georgia;
    font-size: 1.9em;
	text-shadow: 4px 4px 4px #000;
	font-weight: normal;
	background: url("/sites/all/themes/casa_luis/images/slogan.png") no-repeat scroll left top transparent;
	height: 33px;
	width: 282px;
	text-indent: -1000px;
}

#region-branding { height: 80px; }

.branding-data { width: 66%; }

/* Menu */
.page-menu a[thmr=thmr_22] {
	color: #000 !important;
}
#zone-menu-wrapper {
	background: url(/sites/all/themes/casa_luis/images/menu.png) top center repeat-x transparent;
	position: relative;
	top: 5px;
}
#zone-header-wrapper { background-color: #fff }

#block-system-main-menu h2 { display: none }
#block-system-main-menu ul.menu {
	padding: 0;
	margin: 0;
	display: block;
	height: 64px;
	font-family: 'Marcellus SC', serif;
	margin-left: 42px;
}
#block-system-main-menu ul.menu li{
	padding: 0;
	margin: 0;
	float: left;
	list-style: none;
	margin-right: 20px;
	margin-top: 20px;
}
#block-system-main-menu ul.menu li a,
#block-system-main-menu ul.menu li {
	color: #777;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
}
#block-system-main-menu ul.menu li.active-trail a,
#block-system-main-menu ul.menu li.active-trail {
	color: #000;
}
#block-system-main-menu ul.menu ul.menu { display: none; }

/* Food Menu */
#block-menu-menu-food-menu .block-title { display : none; }
#block-menu-menu-food-menu li{
	float: left;
	list-style: none;
}
#block-menu-menu-food-menu ul.menu { padding-left: 0; margin-left: 42px; }
#block-menu-menu-food-menu ul.menu li a { position: relative; top: -.2em }
#block-menu-menu-food-menu ul.menu li a,
#block-menu-menu-food-menu ul.menu li {
	color: #777;
	font-size: 1em;
	text-decoration: none;
}

#block-menu-menu-food-menu ul.menu li.active-trail a,
#block-menu-menu-food-menu ul.menu li.active-trail {
	color: #590000;
}
#block-menu-menu-food-menu ul.menu li { margin-right: .5em; margin-left: .5em; border-right: solid 2px #fdcb03 }
#block-menu-menu-food-menu ul.menu li.first { padding-left: 0; margin-left: 0 }
#block-menu-menu-food-menu ul.menu li.last { border-right: 0 }

/* Blocks */

#block-block-1 {
	color: #FFFFFF;
    float: right;
    font-family: Georgia;
    font-size: 1.15em;
    position: relative;
    top: -120px;
    /* width: 380px; */
	text-shadow: 4px 4px 4px #000;
    
}
#block-block-1 .block-title {
	display: none;
}

/* Hide un-needed bug blocks */ 
.region-menu-inner .alpha-debug-block,
#region-branding .alpha-debug-block,
#zone-user .alpha-debug-block { display: none !important; } 